<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Chat App</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="welcome-page">
<h1>Welcome to the Chat App!</h1>

<!-- Display error or info message -->
<div th:if="${message}">
    <p style="color: red;" th:text="${message}"></p>
</div>


<!-- Join  "general" Channel  -->
<form th:action="@{/}" method="post" id="welcomeForm">
    <div>

        <label for="name">Enter your name:</label><br>
        <input type="text" id="name" name="name" th:value="${user.name}" autocomplete="off"/>
        <span id="nameError" style="color: red;"></span>
    </div>

    <button type="submit">Join</button>

</form>
<script type="text/javascript" src="/welcome.js">
</script>
</div>
</body>
</html>
